@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Mali|MedievalSharp");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: .75em;
  background-image: url(../assets/ui/dirt.jpeg);
  font-family: 'MedievalSharp', cursive;
}

a {
  color: inherit;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: .5em 0;
}

::-webkit-progress-bar {
  background-color: darkred;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

::-webkit-progress-value {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  border-radius: 2px;
  background-color: red;
}

.btn {
  background-color: #ebb11d;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 1em 2em;
  border-radius: .5em;
  -webkit-box-shadow: inset 4px 4px 0 rgba(255, 255, 255, 0.5), inset -4px -4px 0 rgba(0, 0, 0, 0.5), 2px 2px 10px 0 #000;
  box-shadow: inset 4px 4px 0 rgba(255, 255, 255, 0.5), inset -4px -4px 0 rgba(0, 0, 0, 0.5), 2px 2px 10px 0 #000;
  font-family: 'MedievalSharp', cursive;
  text-transform: uppercase;
  font-size: 1.2rem;
  outline: none;
}

.btn:hover {
  background-color: #edb934;
  -webkit-box-shadow: inset 4px 4px 0 rgba(255, 255, 255, 0.5), inset -4px -4px 0 rgba(0, 0, 0, 0.5), 2px 2px 10px 0 #000, 0 0 25px 0 #ebb11d;
  box-shadow: inset 4px 4px 0 rgba(255, 255, 255, 0.5), inset -4px -4px 0 rgba(0, 0, 0, 0.5), 2px 2px 10px 0 #000, 0 0 25px 0 #ebb11d;
}

.btn:active {
  background-color: #edb934;
  -webkit-box-shadow: inset 4px 4px 0 rgba(255, 255, 255, 0.5), inset -4px -4px 0 rgba(0, 0, 0, 0.5), 1px 1px 3px 0 #000, 0 0 25px 0 #ebb11d;
  box-shadow: inset 4px 4px 0 rgba(255, 255, 255, 0.5), inset -4px -4px 0 rgba(0, 0, 0, 0.5), 1px 1px 3px 0 #000, 0 0 25px 0 #ebb11d;
}

.btn:visited {
  -webkit-box-shadow: inset 4px 4px 0 rgba(255, 255, 255, 0.5), inset -4px -4px 0 rgba(0, 0, 0, 0.5), 2px 2px 10px 0 #000;
  box-shadow: inset 4px 4px 0 rgba(255, 255, 255, 0.5), inset -4px -4px 0 rgba(0, 0, 0, 0.5), 2px 2px 10px 0 #000;
}

.dice {
  max-width: 2em;
  margin: .5em;
}

.grid-area {
  border-radius: .5em;
}

.box-shadow {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.75), 1px 1px 3px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.75), 1px 1px 3px rgba(255, 255, 255, 0.75);
}

#footer {
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#graphics {
  grid-area: graphics;
  background-color: #000;
  overflow: hidden;
  display: grid;
  grid-template-areas: "logo" "game" "healthbars";
  grid-template-rows: 1fr 8fr 1fr;
}

.logo-container {
  grid-area: logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#thorn-logo {
  max-width: 35vh;
  height: auto;
  margin: 1em;
}

.game {
  grid-area: game;
}

#healthbar-container {
  grid-area: healthbars;
  display: grid;
  grid-template-columns: auto auto;
  color: white;
}

.healthbar {
  max-width: 35vw;
}

#healthbar-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 1em;
}

#healthbar-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 1em;
}

#console {
  grid-area: console;
  background-color: rgba(0, 0, 0, 0.75);
  padding: .5em .5em .2em .5em;
  color: white;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: 'Mali', cursive;
}

#console p {
  margin: 0;
  line-height: 1.5em;
  opacity: .25;
}

#console p:before {
  content: "▸ ";
}

#console p:last-child {
  opacity: 1;
}

#buttons {
  grid-area: buttons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-gap: .5em;
  grid-template-areas: "graphics" "console" "buttons" "footer";
  grid-template-rows: 7fr 1fr 1fr 1fr;
  grid-template-rows: 10fr 4fr 2fr 1fr;
  height: 100%;
}

.info {
  text-align: center;
  color: #cdcdcd;
  font-size: .8em;
  text-shadow: 1px 1px 0 #000;
}

.text-primary {
  color: #ebb11d;
}

.text-danger {
  color: #e60000;
}

@media only screen and (min-width: 960px) {
  #console {
    padding: 1em 1em .5em 1em;
  }
  body {
    padding: 1em;
    font-size: 1.3em;
  }
  .grid-container {
    grid-gap: 1em;
    grid-template-areas: "graphics graphics graphics" "console console buttons" "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12fr 3fr 1fr;
  }
  .grid-area {
    border-radius: 1em;
  }
}
